/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.formatoA {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.horizontal-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.horizontal-menu li {
    display: inline;
    margin-right: 20px;
}

/* SLIDER */
.slider {
    width: 100%; /* Ancho del slider */
    position: relative; /* Posición relativa para los slides */
    margin-bottom: 20px; /* Margen inferior para separar el slider del resto del contenido */
}

.slide {
    width: 100%; /* Ancho de cada slide */
    height: auto; /* Altura automática */
    position: absolute; /* Posiciona los slides de forma absoluta */
    top: 0;
    left: 0;
}

.slide img {
    width: 100%; /* Ancho de las imágenes */
    height: 100%; /* Altura de las imágenes */
    object-fit: cover; /* Ajusta las imágenes para cubrir el contenedor */
}

.slide:first-child {
    display: block; /* Muestra el primer slide */
}

/* Galería de estadios */
.gallery {
    max-width: 800px;
    margin: 20px auto; /* Espacio alrededor de la galería */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff; /* Fondo blanco */
}

.card img {
    width: 100%;
    height: 200px; /* Ajusta la altura de la imagen en la tarjeta */
    object-fit: cover; /* Cubre la imagen en la tarjeta */
}

.card-text {
    padding: 10px;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px; /* Margen superior para separar el footer del contenido */
   
    /* Asegura que el footer esté en el flujo normal de la página */
    position: absolute;
    bottom: 0;
    width: 100%;  /* Asegura que el footer sea parte del flujo normal de la página */
}
